@use 'abstracts';
@use 'base';

body {
  background-color: var(--beige);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;

  main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    margin-top: 10vh;
    flex-flow: column;
    width: 100%;

    h1 {
      font-size: 4rem;
      color: var(--bright-white);
      margin-bottom: 3rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 2px 2px 10px rgba(0, 3, 8, 0.15);
    }

    .todo-container {
      min-height: 40rem;
      background-color: var(--dark-brown);
      min-width: 40rem;
      border-radius: 20px;
      display: flex;
      flex-flow: column;
      align-items: center;
      padding: 2rem 1rem 1rem 1rem;
      gap: 1rem;
      margin-bottom: 5rem;
      box-shadow: 2px 2px 10px rgba(0, 3, 8, 0.25);

      &__create-todo {
        width: 85%;
        margin-bottom: 1rem;

        &__btn {
          background-color: var(--beige);
          padding: 0 0.52rem;
          border-radius: 20px;
          color: var(--dark-brown);
          font-size: 1.5rem;
          cursor: pointer;
          box-shadow: 2px 2px 10px rgba(0, 3, 8, 0.1);
        }
      }

      &__item {
        padding: 0.8rem;
        width: 90%;
        width: 90%;
        border-radius: 15px;
        padding-left: 5rem;
        background-color: var(--beige);
        position: relative;
        box-shadow: 2px 2px 5px rgba(0, 3, 8, 0.2);

        &::before {
          content: '';
          background-color: var(--bright-white);
          padding: 1.08rem;
          position: absolute;
          left: 1.5rem;
          top: 0.83rem;
          border-radius: 5px;
          border: 1px solid var(--dark-brown);

        }

        &::after {
          content: '';
          position: absolute;
          color: #E79D93;
          left: calc(100% - 2.8rem);
          top: 1.5rem;
          font-size: 1.5rem;
          cursor: pointer;
          padding: 0.5rem;
          background-image: url('./../assets/delete.svg');
          background-size: contain;
        }

        &__content {
          background-color: var(--bright-white);
          padding: 0.5rem 2rem 0.5rem 0.5rem;
          width: 100%;
          // height: 3rem;
          border-radius: 5px;
          border: 1px solid var(--dark-brown);
          color: var(--dark-brown);
          font-size: 1rem;
          overflow-wrap: break-word;
          word-wrap: normal;
        }
      }
    }
  }

  footer > p {
    margin-bottom: 1rem;
    color: var(--bright-white);
    text-shadow: 1px 1px 4px rgba(0, 2, 8, 0.25);

    a {
      color: var(--blue);
      text-shadow: none;
    }
  }
}

.finished.todo-container__item::before {
  background-image: url('./../assets/finished.svg');
  background-size: contain;
}

.finished.todo-container__item > .todo-container__item__content {
  text-decoration: underline;
  text-underline-offset: -40%;
  text-decoration-skip-ink: none;
}

@media (max-width: 600px) {
  #todo-container {
    width: 90%;
    min-width: inherit;

    #todo-content {
      font-size: 0.8rem;
    }
  }
}
